<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
   <head>

       <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Fashion</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->

      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">






       <link rel="stylesheet" type="text/css" href="/static/css/product_details.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <style>

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;

}


.search-container {
  width: 100%;
  max-width: 400px;
  margin-left: 50px;
  height: 40px;
 }
.search-box {
  display: flex;
  align-items: center;
  border: 2px solid #007bff;
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
  margin-top: 0px;
  height: 40px;
}

.search-input {
  flex: 1;
  padding: 13px 21px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.search-button i {
  font-size: 16px;
}

.search-button:hover {
  background-color: #0056b3;
}

.text-danger {
width: 500px;
height: 200px;
margin-top : 200px;
margin-left: 400px;
color : BLACK;
font-size: 25px;

}









   </style>

   <body>

    <!-- header -->

   <div class="header">
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <a><img src="https://i.ibb.co/kDVwgwp/logo.png" alt="RedStore" width="125px" /></a>
      </div>


       <div class="search-container">
        <form action="/search" method="GET" class="search-box">
          <input type="text" name="keyword" class="search-input" placeholder="Search...">
          <button type="submit" class="search-button">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
      <nav>
        <ul id="MenuItems">
          <li><a href="/home">Home</a></li>
          <li>
            <a >
              <div class="dropdown">
                <button type="button" class="dropbtn">products</button>
                <div class="dropdown-content">
                  <a href="/product/Tiles">Tiles</a>
                  <a href="/product/Mirror">Mirror</a>

                </div>
              </div>
            </a>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
           {% if user.id is  None %}
             <li><a href="/login">SIGN IN</a></li>
          {% else %}
             <li><a href="/logout">Logout</a></li>
          {% endif %}

        </ul>
      </nav>
       <a href="/cart">
                    <img src="https://i.ibb.co/PNjjx3y/cart.png" alt="" width="30px" height="30px" />
                    <span class="badge badge-pill badge-primary notify">{{cart_count}}</span>

       </a>
      <img src="https://i.ibb.co/6XbqwjD/menu.png" alt="" class="menu-icon" onclick="menutoggle()" />
    </div>

  </div>
</div>


 <!-- middle -->

    <div class="container">
    {% if error %}
        <p class="text-danger">{{ error }}</p>
    {% else %}
    <div class="card">
        <div class="container-fluid">
            <div class="wrapper row">
                <div>
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img src="{{ product.image.url }}" alt="{{ product.product_name }}" height="600px" />
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{ product.product_name }}</h3>
                    <p class="product-description">
                        Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.
                    </p>
                    <h4 class="price">Current price: <span>₹ {{ product.price }}</span></h4>
                    <h5 class="colors">Colors:
                        <span class="color orange not-available" data-toggle="tooltip" title="Not In Store"></span>
                        <span class="color green"></span>
                        <span class="color blue"></span>
                    </h5>
                    <div class="action">
                        <a href="{% url 'add_cart' product.number %}" class="add-to-cart btn btn-default" type="button">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>











   <!-- footer -->

   <div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Download Our App</h3>
        <p>Download App for Android and iso mobile phone.</p>
        <div class="app-logo">
          <img src="https://i.ibb.co/KbPTYYQ/play-store.png" alt="" />
          <img src="https://i.ibb.co/hVM4X2p/app-store.png" alt="" />
        </div>
      </div>

      <div class="footer-col-2">
        <img src="https://i.ibb.co/j3FNGj7/logo-white.png" alt="" />
        <p>
          Our Purpose Is To Sustainably Make the Pleasure and Benefits of
          Sports Accessible to the Many.
        </p>
      </div>

      <div class="footer-col-3">
        <h3>Useful Links</h3>
        <ul>
          <li>Coupons</li>
          <li>Blog Post</li>
          <li>Return Policy</li>
          <li>Join Affiliate</li>
        </ul>
      </div>

      <div class="footer-col-4">
        <h3>Follow us</h3>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>YouTube</li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="copyright">Copyright &copy; 2021 - Red Store</p>
  </div>
</div>





     <!-- js for toggle menu -->
<script>
  var MenuItems = document.getElementById('MenuItems');
  MenuItems.style.maxHeight = '0px';

  function menutoggle() {
    if (MenuItems.style.maxHeight == '0px') {
      MenuItems.style.maxHeight = '200px';
    } else {
      MenuItems.style.maxHeight = '0px';
    }
  }
</script>
   </body>
</html>